body {
    margin: 0;
    font-family: monospace;
}

.seesaw {
    padding: 5px;
    background: #2AF;
    color: white;
    text-align: center;
}

.seesaw h1 {
    color: #FFF;
    font-size: 10em;
    text-shadow: 2px 2px 2px #CCC;
}

.seesaw p {

}