div.container {
    width: 1300px;
    text-align: center;
    margin: 0 auto;
}

div#seesaw-zone {
    width: 900px;
    height: 700px;
    margin: 20px auto;
    box-shadow: 0 0 10px #000;
    border: 1px solid black;
}

footer {
    font-size: 0.9em;
}

footer > a {
    transition: all 0.5s;
    text-decoration: none;
    color: #5db6f8;
    text-shadow: none;
}

footer > a:hover {
    transition: all 0.5s;
    font-size: 1.6em;
    text-shadow: 0 0 5px #49F;
}